body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Titel oben ausrichten */
    align-items: center;
    position: relative; /* Positionierung relativ zur elterlichen Ansicht */
}

#title {
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: absolute; /* Positionierung relativ zum übergeordneten Container */
    top: 0; /* Oben am Anfang der Ansicht ausrichten */
    z-index: 1000; /* Überlagerung über der Karte */
}

#map-container {
    width: 800px; /* Breite des Containers */
    height: 500px; /* Höhe des Containers */
    position: relative; /* Positionierung relativ zur elterlichen Ansicht */
    z-index: 0; /* Standard-Z-Index für Karte */
}

#map {
    width: 100%; /* Füllt die Breite des Containers aus */
    height: 100%; /* Füllt die Höhe des Containers aus */
}
