body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Anpassung für vertikale Anordnung */
    justify-content: flex-start; /* Titel oben ausrichten */
    align-items: center;
}

#title {
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Überlagerung über der Karte */
}

#map-container {
    width: 100%;
    flex-grow: 1; /* Füllt den verfügbaren Platz aus */
    border: 1px solid #ccc; /* Optional: Rahmen um den Container */
}

#map {
    width: 100%;
    height: 100%;
}
